# ===== Base de donnees MySQL =====
DB_ROOT_PASSWORD=rootpassword
DB_USERNAME=newsapp
DB_PASSWORD=secret

# ===== JWT =====
JWT_SECRET=nRIbi8NwAcUAWDMfFRWG79QV3TJt94vndglTgkdG6nv

# ===== NewsAPI.org =====
# Obtenez votre cle sur https://newsapi.org/register
NEWS_API_KEY=197dfba4829042ae9e3eb47a9a535814

# ===== Compte Admin par defaut =====
ADMIN_EMAIL=admin@newsapp.com
ADMIN_PASSWORD=Admin@1234
